extends ../account

block userview
  p.text-center.display-4 LIST OF TOURS

  a.btn.btn-primary.mb-3(href="/manage-tours/add") Add new tour
  table.table.table-hover
      thead.thead-dark
        th #
        th Name
        th Duration
        th Price
        th Difficulty
        th
      tbody
        - let i = 0;
        each tour in tours
          - i++;
          tr
            td= i
            td= tour.name
            td= tour.duration
            td= tour.price
            td= tour.difficulty[0].toUpperCase() + tour.difficulty.slice(1)
            td.d-flex.justify-content-around
              a.btn.btn-info(href=`/manage-tours/${tour._id}`)
                span.fa-solid.fa-eye
              button.btn.btn-danger.text-white(id="btn-delete-tour" data-tourid=`${tour._id}`) 
                span.fa-solid.fa-trash