extends ../account

block userview
  form.my-5.ml-3#change-tour-form
    h4.mb-3.text-center= `${tour.name} Details`

    .form-group
      label(for="tour-id") Id
      input.form-control#tour-id(type="text" value=`${tour._id}` disabled)
      .invalid-feedback

    .form-group
      label(for="name") Name
      input.form-control#name(type="text" value=`${tour.name}`)
      .invalid-feedback

    .form-group
      label(for="price") Price
      input.form-control#price(type="number" value=`${tour.price}`)
      .invalid-feedback

    .form-group
      label(for="duration") Duration
      input.form-control#duration(type="number" value=`${tour.duration}`)
      .invalid-feedback

    .form-group
      label(for="difficulty") Difficulty
      select.form-control#difficulty(name="difficulty")
        option(selected)= tour.difficulty
        - const options = ['easy', 'medium', 'difficult'];
        each option in options
          - const notSelectedYet = option !== tour.difficulty
          if notSelectedYet
            option= option
      .invalid-feedback

    .form-group
      label(for="maxGroupSize") Max Group Size
      input.form-control#maxGroupSize(type="number" value=`${tour.maxGroupSize}`)
      .invalid-feedback
      
    //- .form-group")
    //-   label(for="image-cover") Image Cover
    //-   input(type="file" class="form-control" id="image-cover" value=`${tour.imageCover}`)

    .form-group
      label(for="ratingsAverage") Ratings Average
      input.form-control#ratingsAverage(type="number" value=`${tour.ratingsAverage}` disabled)
      .invalid-feedback

    .form-group
      label(for="ratingsQuantity") Ratings Quantity
      input.form-control#ratingsQuantity(type="number" value=`${tour.ratingsQuantity}` disabled)
      .invalid-feedback

    .form-group
      label(for="summary") Summary
      input.form-control#summary(type="text" value=`${tour.summary}`)
      .invalid-feedback

    .form-group
      label(for="description") Description
      textarea.form-control#description(rows="5" name="description" style="resize:none;")= tour.description
      .invalid-feedback

    .form-group
      label(for="guides") Guides
      select.form-control#guides(name="guides" multiple)
        each selectedGuide in selectedGuides
          option(selected value=`${selectedGuide._id}`)= selectedGuide.name
        each guide in restOfTourGuides
          option(value=`${guide._id}`)= guide.name
      .invalid-feedback

    // FILE UPLOAD INPUT
    .m-auto.d-flex.justify-content-center.col-sm-6
      img#preview.img-thumbnail.w-50.h-50(src=`/img/tours/${tour.imageCover}`)
    label(for="imageCover") Image Cover
    input#imageCover(type="file" name="imageCover" accept="image/*" style="visibility: hidden;position: absolute;")
    .input-group.mb-3
      input.form-control#file(type="text" disabled placeholder="Upload File")
      .input-group-append
        button.browse.btn.btn-dark(type="button") Browse...
    #commonError.text-danger

    button.btn.btn-success.btn-block(type="submit") Save changes