extends base

block content
  .container.mt-5.bg-light.rounded
    .row(style="min-height: 740px;")
      // SIDEBAR
      .col-3.bg-dark
        nav.navbar.navbar-dark.navbar-expand-md
          ul.my-4.navbar-nav.flex-column.flex-nowrap.w-100

            // USER
            li.nav-item
              a(class=`nav-link ${pathname === '/me' ? 'active' : ''}` href=`/me`)
                i(class=`pr-3 py-2 fas fa-solid fa-gear`) 
                span SETTINGS
            
            li.nav-item
              a(class=`nav-link ${pathname.includes('/my-bookings') ? 'active' : ''}` href=`/me/my-tours`)
                i(class=`pr-3 py-2 fas fa-solid fa-suitcase`)
                span MY BOOKINGS

            li.nav-item
              a(class=`nav-link ${pathname.includes('/my-reviews') ? 'active' : ''}` href=`/me/my-reviews`)
                i.pr-3.py-2.fas.fa-solid.fa-star
                span MY REVIEWS

            li.nav-item
              a(class=`nav-link ${pathname.includes('/my-billings') ? 'active' : ''}` href=`/me/my-billings`)
                i.pr-3.py-2.fas.fa-solid.fa-wallet
                span BILLINGS
            
            // ADMIN
            - const isAdmin = user.role === 'admin';
            if isAdmin
            
              li.nav-item.mt-4
                a(class=`nav-link ${pathname.includes('/manage-tours') ? 'active' : ''}` href="/me/manage-tours")
                  i.pr-3.py-2.fas.fa-solid.fa-map
                  span MANAGE TOURS

              li.nav-item
                a(class=`nav-link ${pathname.includes('/manage-users') ? 'active' : ''}` href="/me/manage-users")
                  i.pr-3.py-2.fas.fa-solid.fa-user-group
                  span MANAGE USERS

              li.nav-item
                a(class=`nav-link ${pathname.includes('/manage-reviews') ? 'active' : ''}` href="/me/manage-reviews")
                  i.pr-3.py-2.fas.fa-solid.fa-star
                  span MANAGE REVIEWS

              li.nav-item
                a(class=`nav-link ${pathname.includes('/manage-bookings') ? 'active' : ''}` href="/me/manage-bookings")
                  i.pr-3.py-2.fas.fa-solid.fa-wallet
                  span MANAGE BOOKINGS

      // USER VIEW CONTENT
      .col-9.my-5
        .container
          block userview
            h1 This is a place holder
