extends ../account

block userview
  p.text-center.display-4 LIST OF USERS

  a.btn.btn-primary.mb-3(href="/manage-users/add") Add New User
  table.table.table-hover
      thead.thead-dark
        th #
        th Name
        th Email Address
        th Role
        th Active
        th
      tbody
        - let i = 0;
        each user in users
          - i++;
          tr
            td= i
            td= user.name
            td= user.email
            td= user.role
            td= `${user.active ? 'yes' : 'no'}`
            td.d-flex.justify-content-around
              a.btn.btn-info(href=`/manage-users/${user._id}`)
                span.fa-solid.fa-eye
              a.btn.btn-danger.text-white#btn-delete-user(data-userid=`${user._id}`)
                span.fa-solid.fa-trash

  