extends ../account

block userview
  form.my-5.ml-3#change-user-form
    h4.mb-3.text-center= `${selectedUser.name}`

    // FILE UPLOAD INPUT
    .m-auto.d-flex.justify-content-center.col-sm-6
      img#preview.img-thumbnail.w-50.h-50(src=`/img/users/${selectedUser.photo}`)
    label(for="photo") Photo
    input#photo(type="file" name="img[]" accept="image/*" style="visibility: hidden;position: absolute;")
    .input-group.mb-3
      input.form-control#file(type="text" disabled placeholder="Upload File")
      .input-group-append
        button.browse.btn.btn-dark(type="button") Browse...
    #commonError.text-danger

    .form-group
      label(for="user-id") Id
      input.form-control#user-id(type="text" value=`${selectedUser._id}` disabled)
      .invalid-feedback

    .form-group
      label(for="name") Name
      input.form-control#name(type="text" value=`${selectedUser.name}`)
      .invalid-feedback

    .form-group
      label(for="email") Email Address
      input.form-control#email(type="email" value=`${selectedUser.email}`)
      .invalid-feedback

    .form-group
      label(for="password") Password
      input.form-control#password(type="password" placeholder="********")
      .invalid-feedback

    .form-group
      label(for="passwordChangedAt") Password Changed At
      - const passwordChangedAt = selectedUser.passwordChangedAt ? selectedUser.passwordChangedAt.toISOString().split('T')[0] : undefined;
      input.form-control#passwordChangedAt(type="date" value=`${passwordChangedAt}` disabled)
      .invalid-feedback

    .form-group
      label(for="role") Role
      select.form-control#role(name="role")
        option(selected)= selectedUser.role
        - const roles = ['admin', 'lead-guide', 'guide', 'user'];
        each role in roles
          - const notSelectedYet = role !== selectedUser.role
          if notSelectedYet
            option(value=`${role}`)= role
      .invalid-feedback

    button.btn.btn-success.btn-block(type="submit") Save changes